* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0b0c12;
  color: #e8e7e3;
  font-family: "Inter", sans-serif;
  min-height: 100vh;
}

/* MAIN */

.main {
  width: 92%;
  margin: auto;
  padding-top: 35px;
}

/* HEADER */

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 1px solid #252632;
  padding-bottom: 30px;
}

.left-heading h2 {
  font-family: "Archivo Black";
  letter-spacing: 3px;
  font-size: 45px;
  color: #eee;
}

.left-heading h2 span {
  color: #ff4b2b;
}

.sub {
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 12px;
  color: #77798a;
}

/* SCORE */

.score {
  display: flex;
  background: #151722;
  border-radius: 18px;
  overflow: hidden;
  border: 1px solid #25283a;
}

.score div {
  width: 95px;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.score span {
  font-size: 28px;
  font-weight: 700;
}

.score p {
  font-size: 11px;
  letter-spacing: 3px;
  color: #77798a;
}

.you span {
  color: #ff512f;
}

.cpu span {
  color: #6672ff;
}

/* VS AREA */

.verses {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 350px;
}

.you-circle,
.cpu-circle {
  text-align: center;
}

.you-circle > p,
.cpu-circle > p {
  letter-spacing: 5px;
  font-size: 12px;
  margin-bottom: 20px;
}

.you-circle > p {
  color: #ff4b2b;
}

.cpu-circle > p {
  color: #7280ff;
}

.you-choose,
.cpu-choose {
  width: 245px;
  height: 245px;
  border-radius: 50%;
  background: #181b29;
  border: 2px solid #3c485f;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: 0.5s;
}
.you-choose:hover,
.cpu-choose:hover {
  transform: scale(1.08);
  border-color: #31fcff;
}

.you-what-choose,
.cpu-what-choose {
  font-size: 90px;
}

.result {
  margin-top: 30px;

  min-width: 180px;
  height: 70px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #151722;

  border: 1px solid #effa2895;

  border-radius: 20px;

  color: #ffffff;

  font-family: "Archivo Black", sans-serif;

  font-size: 22px;

  letter-spacing: 3px;

  text-transform: uppercase;

  box-shadow: 0 0 20px rgba(255, 255, 255, 0.08);

  transition: 0.3s;

  animation: resultPop 0.3s ease;
}

.vs {
  position: absolute;
  transition: 0.3s;
}

.vs p {
  font-size: 35px;
  font-weight: 800;
  color: #9899aa;
  text-align: center;
  transition: 0.5s;
}

/* WIN EFFECTS */

.win {
  border-color: #2cff72;
  box-shadow:
    0 0 25px #2cff72,
    inset 0 0 25px #2cff72;
}

.lose {
  background: #050505;
  opacity: 0.45;
}
.draw {
  border-color: #e4d82e;
  box-shadow: 0 0 20px rgba(214, 255, 52, 0.49);
}

/* CONTROLS */

.controls {
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.choose {
  grid-column: 1/4;
  text-align: center;
}

.choose p {
  letter-spacing: 5px;
  color: #8b8da0;
  text-transform: uppercase;
}

.rock,
.papper,
.scissors {
  height: 115px;
  background: #181b29;
  border: 1px solid #292d42;

  border-radius: 18px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  transition: 0.25s;
}

.rock:hover,
.papper:hover,
.scissors:hover {
  transform: translateY(-8px);
  border-color: #ff4b2b;
}

.controls span {
  font-size: 45px;
}

.controls p {
  margin-top: 8px;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-size: 13px;
}

/* FOOTER */

.footer {
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.round-streak {
  color: #77798a;
  letter-spacing: 3px;
}

#round,
#streak {
  color: #ff4b2b;
}
.footer > p {
  color: #d4cdcdc6;
  font-family: "Inter", sans-serif;
}

.reset-match {
  background: transparent;
  color: #77798a;

  border: 1px solid #303449;

  padding: 15px 25px;

  border-radius: 12px;

  text-transform: uppercase;

  letter-spacing: 3px;

  cursor: pointer;
}

.reset-match:hover {
  color: white;
  border-color: #ff4b2b;
}

/* SHUFFLE ANIMATION */

.shuffle {
  animation: shake 0.15s infinite;
}

@keyframes shake {
  0% {
    transform: translateY(-5px);
  }

  50% {
    transform: translateY(5px);
  }

  100% {
    transform: translateY(-5px);
  }
}

@media (max-width: 900px) {
  .verses {
    gap: 30px;
  }

  .you-choose,
  .cpu-choose {
    width: 170px;
    height: 170px;
  }

  .left-heading h2 {
    font-size: 30px;
  }
}
